:root {
  --static_white: #ffffff;
  --static_black: #000000;
  --static_red: #ff3b30;
  --static_red30: rgba(255, 59, 48, 0.3);
  --static_red50: rgba(255, 59, 48, 0.5);
  --static_orange: #ff9500;
  --static_orange30: rgba(255, 149, 0, 0.3);
  --static_orange50: rgba(255, 149, 0, 0.5);
  --static_yellow: #ffcc00;
  --static_green: #34c759;
  --static_green30: rgba(52, 199, 89, 0.3);
  --static_green50: rgba(52, 199, 89, 0.5);
  --static_teal: #5ac8fa;
  --static_blue: #007aff;
  --static_blue10: rgba(0, 122, 255, 0.15);
  --static_blue30: rgba(0, 122, 255, 0.3);
  --static_blue50: rgba(0, 122, 255, 0.5);
  --static_indigo: #5856d6;
  --static_purple: #af52de;
  --static_purple30: rgba(175, 82, 222, 0.3);
  --static_purple50: rgba(175, 82, 222, 0.5);
  --static_pink: #ff2d55;
  --dynamic_light_text: #000000;
  --dynamic_light_gray30: rgba(60, 60, 67, 0.3);
  --dynamic_light_gray60: rgba(60, 60, 67, 0.6);
  --dynamic_light_stroke: rgba(120, 120, 128, 0.1);
  --dynamic_light_bg: #f2f2f7;
  --dynamic_light_bg2: #ffffff;
  --dynamic_light_bg3: rgba(0, 0, 0, 0.3);
  --dynamic_dark_text: #ffffff;
  --dynamic_dark_gray30: rgba(118, 118, 128, 0.24);
  --dynamic_dark_gray60: rgba(235, 235, 245, 0.6);
  --dynamic_dark_stroke: rgba(84, 84, 88, 0.65);
  --dynamic_dark_bg1: #1c1c1e;
  --dynamic_dark_bg2: #2c2c2e;
  --dynamic_dark_bg3: rgba(255, 255, 255, 0.3);
}

html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  padding: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
} */
